/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
html, body {
  height: auto;
  overflow-x: hidden;
  scroll-behavior: auto !important; 
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;  
  z-index: 9999;        
}


:root{
    --prime-color:#644222;
    --prime-light:#BE9874;
    --section-bg:#F7F5F1;
    --text-color:#101010;
    --black-color:#000;
    --white-color:#fff;

    --transition-slow:0.6s;
    --transition-regular:0.3s;

      --OpenSans-font: "Open Sans", sans-serif;
      --Jost-font:  "Jost", sans-serif;
       --LibreBaskerville-font:  "Libre Baskerville", serif;

      
}
/* Navbar */
nav{
    width: 100%;
    padding: 10px 9% !important;
   
  
    z-index: 999 !important;
}
.logo{
    font-size:1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--white-color);
    font-family:var(--LibreBaskerville-font);
    margin: 0;
}
.logo span{
  color:var(--prime-light)
}
.menu .nav-item a{
    color:var(--black-color);
    font-size: 1.2rem;
    font-weight: 400;
    color:var(--white-color);
    position:relative;
    transition: var(--transition-regular);
    z-index: 1;
    text-decoration: none !important;
    padding: 0px;
}

.menu .nav-item a::after{
 content: "";
 position: absolute;
 top: -100%;
 opacity: 0;
 left: 0;
 width: 60px;
 height: 25px;
 background-color: var(--prime-color);
 transition: var(--transition-regular);
 border-radius: 4px;
 z-index: -1;


 
}
.menu .nav-item:hover a::after{
    top: 0;
    opacity: 1;
    left: 1px;
}
.menu .nav-item:hover{
    color: var(--black-color);
}
.btn{
    background-color: var(--prime-color);
    color: var(--white-color) !important;
    width: 250px;
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;

}
.btn:hover{
    background-color: var(--black-color);
}
nav button{
    border-radius:0 !important;
    background-color: var(--prime-light) !important;
}

/* Header Section */
header{
width: 100%;
height: 100vh;
background-image: url(assets/hero-bg.png);
display: flex;
justify-content: center;
align-items: center;
}
.hero-content h1{
    font-size:6rem;
     font-weight:600;
     font-family: var(--Jost-font);
     color: var(--white-color);
}
.hero-content p{
    color: var(--white-color);
    margin-top: 30px;
}
.hero-content button{
    background-color: transparent;
    border: 1px solid var(--white-color) !important;
}
.hero-content button:hover{
    background-color: var(--black-color);

}
.booking-form h2{
    font-family: var(--Jost-font);
    font-size: 2.5rem;
    font-weight: 600;
}
.booking-form p{
    font-family: var(--Jost-font);
    font-weight: 500;
}
.booking-box p img{
    width: 18px;
    height: 18px;
   
}
.booking-box input{
    width: 100%;
    height: 50px;
    padding: 0 5%;
    border: 1px solid #c69f7a97;
}
.booking-box select{
    height: 50px;
    padding: 0 2%;
    border: 1px solid #c69f7a97;
}
/* ABOUT SECTION */
.image-wrapper{
    position: relative;
}
.overlay-img{
    position: absolute;
    top: 50%;
    left: 30%;
    border: 6px solid var(--white-color);
}
.section-title span{
    font-size: 1.2rem;
    font-family: var(--jost-font);
    font-weight: 600 !important;
    color: var(--prime-color);
}
.section-title h2{
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--LibreBaskerville-font);
}
.text-wrapper p{
color: #777;
font-weight: 300;
}
.feature-paragraph p{
margin-bottom: 10px;
color: var(--text-color);
font-weight: 600;
padding-left: 28px;
font-size: 15px;
position: relative;
color: var(--prime-color);
}
.feature-paragraph p i{
    color: var(--prime-color);
    position: absolute;
    left:0;
    top: 2px;
}
.discover-btn{
    background-color: var(--prime-color);
    color: var(--white-color);
    font-family: var(--jost-font);
    font-weight: 00;
    padding: 12px 30px;
    border: none;
    transition: var(--transition-regular);
     border: 1px solid var(--prime-color);
}

/* Explore section */
.explore{
    margin-top: 6% !important;
    background-color: var(--section-bg);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.explore-title p{
    width: 70%;
    text-align: center;
}
.explore-card{
    background-color: var(--white-color);
    transition: var(--transition-regular);
    position: relative;
}
.explore-card img{
    width: 80px;
    height: 80px;
}
.explore-card h2{
    font-size: 1.7rem !important;
    font-family: var(--jost-font);
    transition: var(--transition-regular);
}
.explore-card h2:hover{
    color: var(--prime-color);
    cursor: pointer;
}
.explore-card a{
    text-decoration: none;
    color: var(--black-color);
    transition: var(--transition-regular);
}
.explore-card a:hover{
    letter-spacing: 1px;
    color: var(--prime-color) !important;
}
.explore-card::after{
    content: "-> ";
    position: absolute;
    top: 0;
    right: 5%;
    width: 150px;
    height: 150px;
    background-image: url(assets/explore-icon-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}
.explore-card:hover{
transform: scale(1.02);
box-shadow: 0 0 10px rgba(131,131,131,0.3);
}
.explore-wrapper .row>.col-lg-4:nth-child(2) .explore-card::after{
    background-image: url(assets/explore-icon-2.png);
}
.explore-wrapper .row>.col-lg-4:nth-child(3) .explore-card::after{
    background-image: url(assets/explore-icon-3.png);
}
.explore-wrapper .row>.col-lg-4:nth-child(4) .explore-card::after{
    background-image: url(assets/explore-icon-4.png);
}
.explore-wrapper .row>.col-lg-4:nth-child(5) .explore-card::after{
    background-image: url(assets/explore-icon-5.png);
}
.explore-wrapper .row>.col-lg-4:nth-child(6) .explore-card::after{
    background-image: url(assets/explore-icon-6.png);
}
.element{
position: relative;
overflow: hidden;
top: 20%;
animation: top-bottom 5s infinite linear;
}
.element1{
left:0 !important;
width: 170px;

}
@keyframes top-bottom{
    0%{
       transform:translateY(0) 
    }
    50%{
       transform:translateY(-30px) 
    }
    100%{
       transform:translateY(0) 
    }
}

/* Rooms section */
.single-service{
    background: var(--white-color);
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.07);
    position: relative;
    margin: 0 15px;
}
.single-service:after{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 5px;
    top: 5px;
    background-color: var(--prime-color);
    z-index: -1;
    transition: var(--transition-regular);
    opacity: 0;
}
.single-service:hover:after{
   background: var(--prime-color);
   font-family: var(--jost-font);
   color: var(--white-color);
   font-size: 16px;
   font-weight: 600;
   width: 100%;
   margin-bottom: 30px;
   margin-top: -50px;
   position: relative;
}
.single-service .day-book li{
    display: inline-block;
    width: 50%;
    text-align: center;
    border-right: 2px solid #423223;
}
.single-service .day-book a{
 color: var(--white-color);
 text-decoration: none;
}
.single-service .day-book a:active{
    color: var(--white-color);
}
.single-service .day-book li:last-child{
    border: none;
}


/* RESORTS section */
.resort{
    background-color: var(--section-bg);

}
.resort-img{
    width: 100%;
}
.element2{
    right: 0 !important;
}

/* best price section */

.price-title h2{
    font-size: 3rem;
}
.price-head{
    position: relative;
}
.price-head span{
    position: absolute;
    top: 25%;
    right: 0;
    transform: rotate(90deg);
    background-color: #E1E1E1;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
}
.price-head-text h2{
    font-size: 2rem;
    font-family: var(--jost-font);
    font-weight: 600;
}
.price-box h1{
font-family: var(--jost-font);
color: var(--prime-color);
font-weight: 600;
font-size: 3.3rem;
border-bottom: 1px solid rgba(131,131,131,0.2);
}
.price-box p img{
    width: 20px;
    height: 20px;
}
.price-box p{
    display: flex;
    align-items: center;
    color: #777;
}
.price-btn{
    border-radius: 0;
}
.prices .element2{
    width: 170px;
}
/* testimonial section */
.test-swiper{
    width: 90%;
}
.testimonial-section{
    background-image: url(assets/test-bg.png);
}
/* /Book Room */
.book-title h2{
font-size: 2.5rem;
}

/* Banner Section */
.banner{
    height: 500px;
    background-image: url(assets/video-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.banner-box img{
    width: 150px;
    height: 150px;
}
.banner-box h1{
    font-size: 3rem;
    color: var(--white-color);
    font-family: var(--LibreBaskerville-font);
    font-weight: 600;
}

/* Blog Section */
.blog-content{
    border: 1px solid #b7b7b7;
    position: relative;
    padding: 40px 30px 30px;
}
.blog-data{
    position: absolute;
    background-color: var(--prime-color);
   color: var(--white-color);
    width: auto;
    padding: 6px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    top:-8%
}
.blog-btn{
    height: 35px;
    padding: 2px 30px;
    border: none;
    background-color: transparent;
    padding-left: 0;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;

}
.blog-image img{
    transition: var(--transition-regular);
}
.blog-item:hover .blog-image img{
    transform: scale(1.1);
}
/* Brand section */
.brand-img{
    text-align:center ;
}
.brand-container{
    background-color: #f7f5f1;
    padding: 90px 0;
}

/* FOOTER */

footer{
    background-color:#777 ;
}
.footer-top{
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: #644222;
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.f-content ul{
padding-left:0 ;
color: var(--white-color);
}
.f-content ul li{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

}
.f-content ul li span{
    color: #fffc;
}
.f-content ul li i{
    background-color: var(--white-color);
    color: var(--black-color);
    min-height: 50px;
    min-width: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.f-widget-title{
    color: var(--white-color);
    margin-bottom: 30px;
    font-family: var(--Jost-font);

}
.footer-link ul li a:hover{
    color: var(--white-color);
}
.subscribe input{
    height: 70px;
    padding-left: 12px;
    outline: none;
}
.subscribe .header-btn{
    background-color: var(--prime-color);
    position: absolute;
    top: 12px;
    height: 45px;
    color: var(--white-color);
    width: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    right: 15px;
}
.copyright-wrap{
    background-color: #282828;
    color: var(--white-color);
    padding: 20px 0;
}
.text-right{
    text-align: right;
}
.footer-social a{
    font-size: 16px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #101010;
    text-align: center;
    line-height: 40px;
    color: var(--white-color) !important;
    transition: var(--transition-regular);
}
.footer-social a:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}
.copyright-wrap .copyright-text a{
    color: var(--white-color);
    letter-spacing: 1px;

}
/* PROGRESS PAGE  */

.progress {
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
}
.progress-box{
    background-color: var(--prime-color);
}
.progress-img{
    height: 777px;
    width: 600px;
}
.progress-bar {
  border-radius: 20px;
}
/* NEWSLETTER */
.container-newsletter{
    width: 100%;
    background-color: #ede4dc;
    height: 300px;
   
}

/* ABOUT PAGE */

.section-banner{
    min-height: 450px;
    background-image: url(assets/section-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-wrap ul li a{
    text-decoration: none !important;
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 500;
}
.section-title p{
    font-family: var(--Jost-font);
}
/* contact info */
.contacticon{
background-color: var(--prime-color);
}

/* media query */
@media (max-width:1399px){
    
    .hero-content h1{
        font-size: 5rem;
    }
    /* About */
    .about-title h2{
        font-size: 2.5rem;
    }
    /* Best Price */
    .price-title h2{
        font-size: 2.5rem;
    }
    /* Room Details */
    .main-room{
        height: 420px;
    }
}
@media (max-width:1199px){
    .booking-box p{
        font-size: 13px;
    }
    .hero-content h1{
        font-size: 4.5rem;
    }
    /* About */
    .about-title h2{
        font-size: 2rem;
    }
    .text-wrapper p{
        font-size: 13px;
    }
    .overlay-img{
        left: 10%;
        top: 30%;
    }
    .booking-img{
        width: 100% !important;
    }
    .price-head-text h2{
        font-size: 1.8rem;
    }
    .price-text span{
           right: -13%;
    }
    .testimonial-info h5{
        font-size: 1.9rem;
    }
    .blog-content h4{
        font-size: 1.5rem;
    }
    /* Explore */
    .explore-card h2{
        font-size: 1.3rem !important;
    }
    /* About page */
    .about-page-title h2{
        font-size: 3rem;
    }
    /* rooms page section */
    .single-service .day-book li{
        font-size: 12px !important;
    }
    .single-service  .da-book ul{
        padding: 0;
    }
    .main-room{
        width: 100%;
    }
    .hide-element{
        display: none !important;
    }
    .contact-form{
        padding: 50px;

    }

}
@media(max-width:991px){
    nav{
        backdrop-filter:blur(10px);
    }
    nav .nav-btn{
      display: none;
      padding-bottom: 40px;
      
    }
    header{
        height: 100%;
        padding-bottom: 40px;
        background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;     
    }
    .hero-content{
        margin-top: 80px;

    }
    .booking-form{
        margin-top: 50px;
    }
    /* About */
    .main-img{
        width: 100%;
    }
    .overlay-img{
        left: 44.5%;
        top: 50.5%;
    }
    .booking-img{
        width: 100% !important;

    }

    .about-title h2{
        font-size: 4rem;
    }
    .resort-content{
        padding: 2% !important;
    }
    .price-head span{
        right: 0% !important;
    }
    .testimonial-info h5{
        font-size: 3rem;
    }
    .testimonial-info small{
         font-size:1.2rem;
    }
    .slider-widget{
        margin-top: 30px;
    }

}
@media(max-width:767px){
    .section-title h2{
        font-size:3rem
    }
    .hero-content h1{
        font-size: 4rem;
    }
    .hero-content h1{
        margin-top:4rem;
    }
    .hero-content p{
        font-size: 4rem;
    }
    .hero-content p{
        margin-top: 20px;
    }
    .booking-box input{
        margin-bottom: 20px;
    }
    /* About */
    .overlay-img{
        left: 26%;
        top: 34%;
    }
    .explore-title p{
        width: 100%;
    }
    .testimonial-info h5{
        font-size: 2rem;
    }
    /* rooms page section */
    .single-service .day-book li{
          font-size: 15px !important;
    }
    .contact-fwrap{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .input-box input{
        width: 100%;
        margin-left: 10px;
    }
    .input-box{
        padding: 0;
    }
    .contacy-form-wrap{
        padding: 80px;
    }
}